{% extends 'base.html' %}
{% load widget_tweaks %}

{% block pageTitle %}Upload file to analyse{%endblock%}


{% block title %}

<h2> Upload file to analyse </h2>

{% endblock %}

{% block content %}

<p>Choose a .gpx file to analyse</p>
{% if upload_error %}
Error reading GPX file, sorry.
{% else %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}
      {% render_field field class="form-control" %}
      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}


    <button type="submit" class="btn btn-success">Upload</button>
  </form>
{% endif %}

{% endblock %}